<ktd-grid id="ktdGrid" 
    [cols]="28"
    [rowHeight]="28"
    [layout]="KtdGridLayout"
    [compactType]="null"
    [backgroundConfig]="config"
    (layoutUpdated)="onLayoutUpdated($event)"
    >
    <ktd-grid-item *ngFor="let item of KtdGridLayout; trackBy: trackById" [id]="item.id">
        <!-- Your grid item content goes here -->
         <p id="etapa">Etapa</p>
        <!-- Optional Custom placeholder template -->
        <ng-template ktdGridItemPlaceholder>
            <!-- Custom placeholder content goes here -->
        </ng-template>
    </ktd-grid-item>
</ktd-grid>