:host {
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#etapaContainer {
  width: 100%;
  height: 100%;
  border: 1px solid violet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 3px;
  padding: 0px;
}


#gridableArea {
  margin-top: 10px;
  border: 1px dashed orange;

  width: 96%;
  min-height: 90%;
  max-height: 90%;

  display: block;

}

#headerEtapa {

  border: 1px solid rgba(255,0,0,0.4);

  width: 96%;
  
  display: flex;

  justify-content: space-around;
  align-items: center;
}