
:host {
  display: block;
}



.kanban-select {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 8px 56px 8px 28px; /* espaço extra à direita para o ícone */
  border-radius: 16px;
  border: 1.5px solid #b0b0b0;
  background: transparent;
  color: #fff;
  min-width: 420px;
  text-align: center;
  outline: none;
  box-shadow: 0 2px 12px #0002;
  appearance: none;
  position: relative;
  z-index: 1;
}

  